nav {
  background: linear-gradient(to right ,#950b0b,#440606);
  color: white;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  // ul {
  //   display: flex;
  //   justify-content: space-between;
  //   width: 20%;
  //   margin: 0;
  //   list-style: none;
    li {
      cursor: pointer;
      // font-size: 22px;
      // color: #fff;
      // text-decoration: none;
    }

  }
// }
