<div class="card mt-5">
    <div class="d-flex justify-content-around  align-items-center">
      <div class="w-25  overflow-hidden">
        <img class="card-img-top w-75 " [src]="product?.image" alt="Title">
      </div>
      <div class="w-75">
        <h4 class="card-title"><strong>Title :</strong>{{product?.title}}</h4>
        <p class="card-text"><strong>Category :</strong>{{product?.category}}</p>
        <p class="card-text"><strong>Discription :</strong>{{product?.description}}</p>
        <p class="card-text"><strong>Rate :</strong>{{product?.rating?.rate}}</p>
        <p class="card-text"><strong>Count :</strong>{{product?.rating?.count}}</p>
        <p class="card-text"><strong>Price :</strong>{{product?.price}}</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="goBack()">Go Back</button>
</div>